* {
    padding: 50;
    margin: 50;
}


body {
    background-image: url("https://myc.news/storage/image/951312829d7ac449ea97f67a8e0d6fd651408353e49f2300a0c75e8bb410faa3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
